<app-slide></app-slide>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contact-us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <br>
    <div class="text-render">
    <h1>High Street Restaurant</h1>
    <p>50 Market Street, San Francisco, California 94103, United States</p>
    <h3>About Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <ion-list>
      <ion-header class="text-render">Open Hours</ion-header>
      <ion-item>
        <ion-label>
          <h2>Monday</h2>
          <p>12:30 - 20:30</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Tuesday</h2>
          <p>12:30 - 16:30 | 20:30 - 00:30</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Wednesday</h2>
          <p>12:30 - 20:30</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Thursday</h2>
          <p>12:30 - 21:01</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Friday</h2>
          <p>12:30 - 21:01</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-header class="text-render">Contact Us</ion-header>
      <ion-item>
        Call Us
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        Send us email 
        <ion-icon name="mail" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        Find us / Get directions 
        <ion-icon name="map" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-header class="text-render">Get Social With Us</ion-header>
      <ion-item>
        Facebook 
        <ion-icon name="logo-facebook" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        Instagram 
        <ion-icon name="logo-instagram" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        Twitter 
        <ion-icon name="logo-twitter" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        Pinterest 
        <ion-icon name="logo-pinterest" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    </ion-content>
</div> 