<ion-content fullscreen class="ios overscroll hydrated" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <img src="../../../assets/images/welcome/welcome-1.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/welcome/welcome-2.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/welcome/welcome-3.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/welcome/welcome-4.jpg" />
    </ion-slide>


  </ion-slides>
  <div class="buttons-container">
    <ion-button expand="full" color="secondary" (click)="onHome()">Enter the App</ion-button>
    <ion-button expand="full" color="primary" (click)="loginWithFacebook()">Login with Facebbok</ion-button>

    <ion-button expand="full" color="primary" (click)="onLoginWithgoogle()">Login with Google</ion-button>

  </div>
</ion-content>