<app-slide ></app-slide>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Drupal</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card *ngFor="let list of DrupalDataList" (click)="onDrupaldetails(list.id,list)">
    <img src={{list.img}}>
    <ion-card-content>
      <h2>{{list.title}}</h2>
      <p>{{list.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
</div>