<ion-header>
  <ion-toolbar>
    <ion-buttons>
    <ion-back-button></ion-back-button>
    <ion-title>Take away</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
 
    <img src="./../../../../assets/images/Capture.PNG">
    <div class="text-render">
      <h3>High Street Restaurant</h3>
      <ion-label>
        <p>50 Market Street, San Francisco, California 94103, United States</p>
      </ion-label>
      <p>Submit your order and it will be ready to be picked up in about 30 minutes.</p>
    </div>
 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
    
        <ion-button>
          Submit
          <ion-icon slot="end" name="paper-plane"></ion-icon>
        </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>