<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{WordpressData.title}}</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <img src={{WordpressData.img}}>

<div class="text-format">
  <div>
    <h2>{{WordpressData.title}}</h2>
    <p>{{WordpressData.description1}}</p>
    <p>{{WordpressData.description2}}</p>
    <p>{{WordpressData.description3}}</p>
    <p><b>admin</b> - {{WordpressData.date}}</p>
    <p>{{WordpressData.location}}</p>

  </div>
</div>
</ion-content>