ion-card {
    position: relative;
    text-align: center;
}
.outer-div {
    // position: absolute;
  
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.inner-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    font-weight: 700;
    color: #fff;
}
.inner-subtitle {
    font-size: 1em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}
